# gitattributes
# lf

*.py   text eol=lf
*.oxy  text eol=lf
*.txt  text eol=lf
*.md   text eol=lf

# oxy files temp highlighted as c
*.oxy linguist-language=C

# diffs
*.md   diff=markdown
*.tex  diff=tex
